.Title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(102, 175, 197,.5);
    color: #fff;
  }